<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/d3.slider.css" />
    <title>Sentiments across Twitter and Meetup</title>
</head>
<body>
    <div id="container">
    <p></p><p></p><p></p>
    <h1>Sentiments across Twitter and Meetup</h1>
    <div id="date">
        <p>Last five minutes ending at:</p>
        <p id="month"></p>
    </div>
    <div id="play"></div>
    <div id="slider-container">
        <div id="slider-div"></div>
        <div id="slider-probe">
            <p></p>
            <div></div>
        </div>
    </div>
    <div id="map-container"></div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="../static/js/d3.slider.js"></script>
  <script src="../static/js/main.js"></script>
</body>
</html>